
#main{
  width:100%;
}

.panel{
  background:#e6e6e6;
  width:250px;
  float:left;
}

#main-map{
  width:400px;
  /*background:#333;*/
  float:right;
}
#small-map{
  width:250px;
  float:right;
}
.leg_PageContent li{
  padding-left: 0 !important;
}
.inline{
  /*margin-bottom: 15px;*/
  background-color: #e6e6e6;
  padding-bottom: 75px !important;
  padding-left:10px;
  margin-left: 0 !important;
/*
  list-style: none;
  overflow: hidden;*/
}
.inline li{
  list-style:none;
  float:left;
  position:relative;
  width:33%;
}

.loadingDiv{
  margin: 15% 0 0 45%;
  position: absolute;
  z-index: 1005;
}
.loaderHelper{
  font-size:13px;
  margin-left:-27px;
  padding-bottom: 10px;
}

.loader {

  text-indent: -9999em;
  border-top: 1.1em solid rgba(84, 9, 2, 0.5);
  border-right: 1.1em solid rgba(84, 9, 2, 0.5);
  border-bottom: 1.1em solid rgba(84, 9, 2, 0.5);
  border-left: 1.1em solid #333;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 0.8s infinite linear;
  animation: load8 0.8s infinite linear;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}